extends layout

block content
  h1 Backbone Application
  p Welcome

  script(type='x/template', id='ItemViewTemplate')
    <h4>Title: <%= title %></h4>
    <h5>Author: <%= author %></h5>
    <p>Location: <%= location %></p>


