doctype 5
html
  head
    title Backbone App
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/lib/require.js', data-main='/javascripts/require.config.js')
  body
    block content
